/*-- scss:defaults --*/

  $body-bg: #16213D;
  $body-color: #fff;
  $link-color: #42affa;
  $presentation-heading-color: #fff;
  $code-block-bg:	#A1B9E0;
  $code-block-border-color:	lighten($body-color, 10%);
